Q1. Create one variable containing following type of data:
    string
    list
    float
    tuple

In [1]:
a ="ajit"

In [2]:
a

'ajit'

In [3]:
b =[1,2,3.5,"ajit", True ]

In [4]:
b

[1, 2, 3.5, 'ajit', True]

In [5]:
c =2.5

In [6]:
c

2.5

In [7]:
d=(2.5,2,5,"ajit")

In [8]:
d

(2.5, 2, 5, 'ajit')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [_‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [9]:
var1 = ''

In [10]:
type(var1)

str

In [11]:
var2 ='[DL, ML,Python]'

In [12]:
type(var2)

str

In [13]:
var3 =['DS','ML', 'Python']

In [14]:
type(var3)

list

In [15]:
var4=1.

In [16]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i)/ : it's divison operator return value qoutient.
Below is example:

In [17]:
10/5

2.0

(ii) % : it's modulus operator return remainder.
Below is example:

In [18]:
10%3

1

(iii) // : it's the floor divison operator it return the near whole number
Below is the example:

In [19]:
19//2

9

(iv) ** : it's expontial operator 
Below is the example:

In [20]:
2**2

4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
l = [1,2, 'ajit', 'pwskills',"DS", 'ML', 3.5,[1,2,3.5], (5,6),9]

In [23]:
for i in l :
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
ajit <class 'str'>
pwskills <class 'str'>
DS <class 'str'>
ML <class 'str'>
3.5 <class 'float'>
[1, 2, 3.5] <class 'list'>
(5, 6) <class 'tuple'>
9 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [28]:
A = 130
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"{A * B} is divisible by {B} {count} times")
else:
    print(f"{A * B} is not divisible by {B}")

130.0 is divisible by 5 1 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [29]:
my_list = [7, 6, 32, 12, 18, 11, 29, 15, 8, 27, 17, 24, 19, 20, 36, 22, 23, 10, 30, 9, 16, 28, 33, 25, 21]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

7 is not divisible by 3
6 is divisible by 3
32 is not divisible by 3
12 is divisible by 3
18 is divisible by 3
11 is not divisible by 3
29 is not divisible by 3
15 is divisible by 3
8 is not divisible by 3
27 is divisible by 3
17 is not divisible by 3
24 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
36 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
10 is not divisible by 3
30 is divisible by 3
9 is divisible by 3
16 is not divisible by 3
28 is not divisible by 3
33 is divisible by 3
25 is not divisible by 3
21 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In Python, there are two types of data structures: mutable and immutable. Mutable data types are those whose value can be changed after creation, while immutable data types are those whose value cannot be changed after creation.

Examples of immutable data types in Python include:

int (integer)
float (floating-point number)
bool (boolean)
str (string)
tuple (immutable sequence of values)

In [30]:
string1 = "Hello"
string2 = string1
string1 += " World"
print(string1)   
print(string2)

Hello World
Hello

In this example, we first create a string string1 with the value "Hello". We then create another variable string2 and assign it the value of string1. Next, we append the string " World" to string1 using the += operator. However, note that this does not modify the original string string1 - instead, it creates a new string with the combined value. Therefore, when we print the value of string1, we get "Hello World", while the value of string2 remains unchanged as "Hello".

Examples of mutable data types in Python include:

list (mutable sequence of values)
set (mutable collection of unique values)
dict (mutable collection of key-value pairs)
Here's an example to demonstrate the mutability of a list:

In [31]:
list1 = [1, 2, 3]
list2 = list1
list1.append(4)
print(list1)   
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]